@import '../../../utils/vars/vars.scss';

.content {
	flex-grow: 1;

	@media (max-width: 480px) {
		margin-top: 80px;
	}

	@media (max-width: 320px) {
		margin-top: 90px;
	}
	.weatherToday {
		display: flex;
		justify-content: space-between;

		margin-bottom: $main-margin-bottom;

		@media (max-width: 769px) {
			flex-direction: column;
			column-gap: 10px;
		}
	}
}
