@import '../../../../utils/vars/vars.scss';

.thead {
	position: relative;
	&:after {
		content: '';
		position: absolute;
		left: 50%;
		width: 90%;
		transform: translateX(-50%);
		border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	}
	tr {
		@media (max-width: 768px) {
			height: 50px;
		}
		th {
			font-size: 0.9rem;
			padding: 0 2px;
			color: rgba(0, 0, 0, 0.5);

			@media (max-width: 640px) {
				text-align: center;
				font-size: 0.8rem;
			}

			@media (max-width: 420px) {
				font-size: 0.6em;
			}
			.title {
				padding: 0 5px;
				display: flex;
				align-items: center;

				font-size: 3rem;
				font-weight: 500;
				@media (max-width: 420px) {
					font-size: 1.4rem;
				}
				div {
					padding: 5px 5px 0 5px;
					span {
						display: flex;

						font-size: 0.8rem;

						@media (max-width: 420px) {
							font-size: 0.6rem;
						}
					}
				}
			}
		}
	}
}
