@import "../../../../utils/vars/vars.scss";

.input {
  height: 100%;
  width: 100%;

  padding-left: 10px;

  font-size: 1.1rem;
  border-radius: $main-border-radius;
  background-color: rgba(255, 255, 255, 0.8);

  &:hover {
    box-shadow: 0 0 5px rgba(255, 255, 255, 1);
  }
}
.error {
  padding-left: 10px;
  font-weight: 500;
  font-size: 1rem;
  color: red;
}

@media (max-width: 768px) {
  .input {
    &::placeholder {
      font-size: 0.9rem;
    }
  }
}

@media (max-width: 480px) {
  .input {
    padding-left: 5px;
    &::placeholder {
      font-size: 0.8rem;
    }
  }
}
@media (max-width: 400px) {
  .input {
  }
}
