@import "../../../utils/vars/vars.scss";

.tenDaysWeather {
  .header {
    margin-bottom: 20px;
    position: relative;
    color: $secondary-color;

    .tenDaysIcon {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 50px;
      height: 50px;
    }
    .title {
      margin-bottom: $main-margin-bottom;
      padding-left: 60px;
    }
  }
}

@media (max-width: 480px) {
  .tenDaysWeather {
    margin-top: 50px;
    margin-bottom: 20px;
    .header {
      .title {
        font-size: 1.5rem;
        margin-bottom: 10px;
      }
    }
  }
}
