@import '../../../utils/vars/vars.scss';

.tenDaysWeather {
	// margin-top: 10px;
	@media (max-width: 480px) {
		margin-top: 60px;
		margin-bottom: 20px;
	}
	@media (max-width: 400px) {
		margin-top: 80px;
	}

	.header {
		margin-bottom: 20px;
		position: relative;
		color: $secondary-color;

		.tenDaysIcon {
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
			width: 50px;
			height: 50px;
		}
		.title {
			margin-bottom: $main-margin-bottom;
			padding-left: 60px;

			@media (max-width: 480px) {
				font-size: 1.2rem;
				margin-bottom: 10px;
			}
		}
	}
}
