@import '../../../utils/vars/vars.scss';

.searchForm {
	height: 30px;
	width: 200px;

	margin: 0 5px;

	@media (max-width: 768px) {
		margin-right: 10px;
		&::placeholder {
			font-size: 0.9rem;
		}
	}
	@media (max-width: 480px) {
		width: 170px;
	}
	@media (max-width: 320px) {
		width: 150px;
	}
}
