@import "../../../utils/vars/vars.scss";

.searchForm {
  height: 30px;
  margin: 0 5px;
  width: 200px;
}

@media (max-width: 768px) {
  .searchForm {
    margin-right: 10px;
    &::placeholder {
      font-size: 0.9rem;
    }
  }
}

@media (max-width: 480px) {
  .searchForm {
    width: 170px;
  }
}
@media (max-width: 320px) {
  .searchForm {
    width: 150px;
  }
}
