@import '../../../utils/vars/vars.scss';

.info {
	display: flex;
	column-gap: 10px;
	min-height: 420px;

	position: relative;
	z-index: 1;

	margin-bottom: $main-margin-bottom;
	@media (max-width: 480px) {
		flex-direction: column;
		row-gap: 10px;
	}
}
