@import '../../../utils/vars/vars.scss';

.weatherAnotherCitys {
	padding: 20px;
	flex-basis: 40%;

	background: $main-background-color;
	border-radius: $main-border-radius;

	@media (max-width: 480px) {
		padding: 10px;
	}
	@media (max-width: 769px) {
		padding: 15px;
	}

	.cityTitle {
		margin-bottom: 10px;

		@media (max-width: 769px) {
			text-align: center;
		}
	}
	.cityList {
		.cityItem {
			display: flex;
			align-items: center;
			justify-content: space-around;

			border-bottom: 1px solid rgba(0, 0, 0, 0.1);
			cursor: pointer;
			&:hover {
				opacity: 0.6;
				border-bottom: 1px solid rgba(0, 0, 0, 1);
			}
			&:not(:last-child) {
				margin-bottom: 5px;
			}
			.cityTemp {
				text-align: right;
				width: 30px;
			}
			.cityIconWrapper {
				max-width: 40px;
				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}
			.city {
				width: 120px;
			}
		}
	}
}
