.home {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background: rgba(255, 255, 255, 0.3);
  background: url("https://img.freepik.com/premium-vector/sky-background-for-video-conferencing_23-2148641676.jpg?w=996")
    no-repeat 70% 70% / cover;
}
