@import '../../../utils/vars/vars.scss';

.dayLightHours {
	position: relative;
	z-index: 1;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex-grow: 1;

	padding: 30px 20px;
	overflow: hidden;
	text-align: center;
	.title {
		position: relative;
		z-index: 10;

		@media (max-width: 768px) {
			margin-bottom: 20px;
		}
		.dayLight {
			letter-spacing: 1.1px;
			font-weight: 400;
		}
		.dayLightTime {
			font-size: 1.2rem;
			font-weight: 600;

			@media (max-width: 768px) {
				font-size: 1.1rem;
			}
		}
	}
	.timeWrapper {
		display: flex;
		justify-content: space-around;
		justify-content: space-around;
		align-items: center;
		padding: 20px 30px;

		@media (max-width: 768px) {
			justify-content: space-between;
		}
		.sunrise {
			&:before {
				background: url('../../../assets/icons/sunrise.png') no-repeat
					50% 50% / cover;
			}
		}
		.earth {
			height: 120px;
			width: 120px;
			margin: 0 20px;
			animation: rotateEarth 120s infinite forwards linear;
			img {
				@include imgSize(100%, cover);
			}
		}
		.sunset {
			&:before {
				background: url('../../../assets/icons/sunset.png') no-repeat
					50% 50% / cover;
			}
		}
		.sunrise,
		.sunset {
			position: relative;
			z-index: 1;

			margin-top: 40px;
			&::before,
			&::before {
				content: '';
				position: absolute;
				top: -235%;
				z-index: 2;

				height: 40px;
				width: 40px;
			}
		}
	}
	.dayLightHoursInfo {
		font-weight: 500;
		@media (max-width: 768px) {
			margin-top: 20px;
		}
		p:not(:last-child) {
			margin-bottom: 5px;
		}
	}
}

@keyframes rotateEarth {
	100% {
		transform: rotate(360deg);
	}
}
