$font-size: 16px;
$main-color: rgba(0, 0, 0, 1);
$secondary-color: rgba(255, 255, 255, 1);

$main-background-color: linear-gradient(
  180deg,
  rgba(214, 255, 252, 0.7),
  rgba(168, 255, 255, 0.8),
  rgb(124, 225, 245)
);
$btn-background-color: rgba(255, 255, 255, 0.7);
$btn-color: rgba(46, 206, 255, 1);

$main-border-radius: 8px;
$main-margin-bottom: 20px;

$main-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);

@mixin imgSize($size, $fit) {
  height: $size;
  width: $size;
  object-fit: $fit;
}
